section{
  display: flex;
  flex-direction: row;
}

form, .historySection{
  background-color: var(--neutral-900);
  margin: 4rem 0.5rem;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-radius: 12px;
  min-width: 300px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  height: 3rem;
}

h1 {
  font-size: 1.5rem;
}

.historyList{
  background-color: var(--neutral-850);
  border-radius: 8px;
}

.record{
  padding: 12px;
  border-bottom: 0.5px solid var(--neutral-900);
}

.showHistory{
  display: block;
}

.hideHistory{
  display: none;
}

.operators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.outcome {
  background-color: var(--neutral-800);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.outcome p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 700px){
  section{
    display: flex;
    flex-direction: column;
  }
  form, .historySection{
    margin: 0.5rem;
  }
}
