form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.operators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.outcome {
  background-color: var(--neutral-800);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.outcome p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
