section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  height: 3rem;
}

h1 {
  font-size: 1.5rem;
}

.history{
  background-color: var(--neutral-850);
  height: 100%;
  border-radius: 8px;
}

.record{
  padding: 12px;
  border-bottom: 0.5px solid var(--neutral-900);
}
